@font-face {
  font-family:"STARWARS";
  src:url("fonts/STARWARS.eot?") format("eot"),
      url("fonts/STARWARS.woff") format("woff"),
      url("fonts/STARWARS.ttf") format("truetype"),
      url("fonts/STARWARS.svg#STARWARS") format("svg");
  font-weight:normal;
  font-style:normal;
}

/*http://www.iconarchive.com/show/starwars-icons-by-sensibleworld/C3PO-icon.html*/

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: white;
  height: 100%;
  background: rgba(60,60,60,1);
}

h2 {
  color: white;
  /* text-shadow: 1px 2px 3px #000; */
  text-align: center;
}

.App {
  background: rgba(60,60,60,1);
  height: 100%;
}


.Nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}

.Nav ul li {
  margin: 0;
  padding: 20px;

}

.Nav ul li:hover {
  background: orange;
}

h3 {
  text-align: center;
}

.Header {
  display: flex;
  justify-content: center;
  font-family: STARWARS, Helvetica, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 3px solid orange;
  height: 100%;

}

.CardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.Card {
  min-width: 265px;
  border: 2px solid white;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  transition: all 200ms ease;
  /* flex: 1 1; */
}

.Card:hover {
  box-shadow: 0px 0px 20px 0px orange;
}

.Card:focus   {
  box-shadow: 0px 0px 20px 0px orange;
}

.Card ul {
  padding-left: 20px;
  list-style-type: none;
}

.Card h3{
  border-bottom: 2px solid orange;
  padding-bottom: 5px;
}

.Card h4{
  color: orange;
}

.Card p{
  text-align: center;
  font-weight: 600;
  font-style: italic;
}
